target/
reports/
.idea/
.vscode/
*.iml
*.log
.classpath
.project
.settings/
bin/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
.DS_Store
Thumbs.db
dependency-reduced-pom.xml
.attach_pid*
replay_pid*